.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2% auto;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  background-color: white;
  color: var(--TextColour__DarkGray);
  gap: 1em;
  transition: 0.3s;
}

.reviews h3 {
  font-size: 2em;
  color: var(--TextColour__DarkGray);
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

.reviews h3:hover {
  color: var(--TextColour__DarkGray);
}

.container {
  overflow: hidden;
}

.reviews ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

.item {
  width: 100%;
}

.item h4 {
  font-size: 1.3em;
  color: var(--RedColor__CrimsonRed);
  text-transform: capitalize;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-style: italic;
}

.item h5 {
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 7px;
  font-weight: 500;
}

.item div {
  width: 100%;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.item div span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 600;
  font-weight: 700;
}

.item div span:last-child {
  font-weight: 500;
  font-size: 0.9em;
  margin-left: auto;
  font-style: italic;
}

.icon {
  font-size: 22px;
  color: var(--ButtonColor__Orange);
}

.item p {
  width: 70%;
  font-size: 0.95em;
  color: var(--TextColour__DarkGray);

}