.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.modal {
  width: 95%;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 2.5%;
  z-index: 100000;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.title h3 {
  color: var(--ButtonColor__Orange);
  text-transform: uppercase;
  font-size: 1.25em;
}

.icon {
  color: var(--TextColour__DarkGray);
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  color: var(--ButtonColor__Orange);
  font-weight: 800;
}

@media only screen and (min-width: 777px) {
  .modal {
    width: 85%;
    left: 7.5%;
  }
}

@media only screen and (min-width: 996px) {
  .modal {
    width: 80%;
    left: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .modal {
    width: 70%;
    left: 15%;
  }
}

@media only screen and (min-width: 1400px) {
  .modal {
    width: 60%;
    left: 20%;
    padding: 2em;
  }
}