.main {
  width: 100%;
  background-color: white;
}

.rentalForm {
  padding: 5% 2.5%;
  margin: unset;
}

/*-----------top destination ------------------*/

.destination {
  width: 95%;
  margin: 5% auto 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.title {
  text-align: center;
}

.title span {
  color: var(--RedColor__CrimsonRed);
  font-weight: 700;
  font-size: 0.9em;
}

.title h2 {
  color: var(--PrimaryColor__DeepBlue);
  text-transform: uppercase;
  font-size: 2em;
}


.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.item img {
  width: 300px;
  height: 200px;
  margin: auto;
}

.item span {
  color: var(----TextColour__DarkGray);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}


/*-----------icon container ----------------*/

.iconContainer {
  padding: 2.5%;
  width: 95%;
  margin: 2% auto;
}

.iconContainer h2 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.5em;
  color: var(--PrimaryColor__DeepBlue);
}

.iconContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.iconItem div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}

.iconContainer div .icon {
  font-size: 2.5em;
  color: var(--ButtonColor__Orange);
}

.iconContainer div span {
  color: var(----TextColour__DarkGray);
  font-size: 0.95em;
  opacity: 0.75;
  font-weight: 500;
}


/*---------------media queries -------------------*/




@media only screen and (min-width: 600px) {
  .rentalForm {
    padding: 5%;
  }

  .iconContainer {
    width: 90%;
  }

  .destination {
    width: 90%;
  }


}

@media only screen and (min-width: 777px) {
  .rentalForm {
    padding: 5% 10%;
  }

  .iconContainer {
    width: 85%;
    padding: 5% 10%;
  }

  .iconContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .destination {
    width: 85% ;
  }

  .list {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    row-gap: 2%;
  }

  
}

@media only screen and (min-width: 996px) {
  .rentalForm {
    padding: 5% 12.5%;
    background-image: url('../../public/images/rentalsRoad.jpg');
    background-size: cover;
    background-position-y: 50%;
  }

  .iconContainer {
    width: 80%;
  }

  .iconContainer h2 {
    font-size: 2em;
  }

  .destination {
    width: 80%;
    gap: 2em;
  }

  .title h2 {
    font-size: 3em;
  }

  .list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 1%;
  }


}

@media only screen and (min-width: 1200px) {
  .rentalForm {
    padding: 7% 15%;
    background-position-y: 40%;
    height: 75vh;
  }

  .iconContainer {
    width: 75%;
    padding: 2% 15%;
  }

  .iconContainer div .icon {
    font-size: 4em;
  }

  .iconContainer div .span {
    font-size: 1.2em;
  }


}

@media only screen and (min-width: 1400px) {
  .rentalForm {
    padding: 7% 10%;
    background-position-y: 50%;
  }

  .iconContainer {
    padding: 3% 10%;
  }

  .list {
    width: 75%;
  }
}
